<div class="row margin-top-05">
    <h1>Scenario Details</h1>
</div>
<div class="margin-top-05">
    <div class="row margin-top-05">
        <div class="col-xs-2"><strong> Name : </strong></div>
        <div class="col-xs-6"><label>{{scenario.Name}}</label> </div>
    </div>
    <div class="row margin-top-05">
        <div class="col-xs-2"><strong> Description : </strong></div>
        <div class="col-xs-6"><label>{{scenario.description}}</label> </div>
    </div>



    <h3>Are you sure you want to delete this scenario?</h3>

    <div class="row margin-top-05">
        <div class="col-xs-12">
            <button class="btn btn-danger" (click)="onDelete(scenario.id)">
                <span class="glyphicon glyphicon-saved"></span> Delete
            </button>
            <button class="btn btn-primary" (click)="list()">
                <span class="glyphicon glyphicon-list"></span> List
            </button>
        </div>
    </div>
</div>  