
<div class="row margin-top-05 col-lg-12">
    <h1>Fee Editor</h1>
</div>

<div class="margin-top-05">
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label"><strong> Name</strong></label>
            <input class="form-control" [(ngModel)]="fee.name" required />
        </div>
        <div class="form-group col-md-2 col-xs-12">
            <label class="control-label"><strong>Monthly Dollar Amount</strong></label>
            <h4>{{fee.monthlyTotal|currency:'USD':true:'2.2-2'}}</h4>
        </div>
        <div class="form-group col-md-2 col-xs-12">
            <label class="control-label"><strong>Annual Dollar Amount</strong></label>
            <h4>{{fee.annualTotal|currency:'USD':true:'2.2-2'}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-8">
            <label class="control-label"><strong> Description</strong></label>
            <textarea class="form-control span6" rows="6" placeholder="What's up?" [(ngModel)]="fee.description" required></textarea>
        </div>
    </div>
    <div class="row">
        <div [hidden]="this.fee.feeTypeID != 1">
            <div class="form-group col-md-4 col-xs-12">
                <label class="control-label"><strong>Amount</strong></label>
                <input class="form-control" [(ngModel)]="fee.amount" required />
            </div>
        </div>
        <div [hidden]="this.fee.feeTypeID != 2">
            <div class="form-group col-md-2 col-xs-12">
                <label class="control-label"><strong>Rate:</strong></label>
                <input type="text" class="form-control" [(ngModel)]="fee.percentRate" (ngModelChange)="calculatePayments()" />
            </div>
            <div class="form-group col-md-2 col-xs-12">
                <label class="control-label"><strong>Base Value:</strong></label>
                <input type="text" class="form-control" [(ngModel)]="fee.percentBaseValue" (ngModelChange)="calculatePayments()" />
            </div>
        </div>


        <div class="form-group col-md-2 col-xs-12">
            <label class="control-label"><strong>Fee Type</strong></label>
            <div>
                <switch [status]="fee.feeTypeID == 1" onText="$" onColor="sky-blue" offText="%" offColor="yellow" (statusChange)="onFeeTypeChange()"></switch>
            </div>
            <!--<input  [(ngModel)]="fee.feeTypeId" />-->
        </div>
        <div class="form-group col-md-2 col-xs-12">
            <label class="control-label"><strong>Fee Schedule</strong></label>
            <select class="form-control" [(ngModel)]="fee.scheduleTypeID" (change)="onScheduleTypeChange()">
                <option *ngFor="let sch of allScheduleTypes" [ngValue]="sch.id">
                    {{sch.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row" [hidden]="this.fee.feeTypeID != 2">
        <div class="form-group col-md-4 col-xs-12">
            <label class="control-label"><strong>Parent Class:</strong></label>
            <select class="form-control" [(ngModel)]="fee.parentClass" (change)="onParentClassChange($event.target.value)">
                <option value="0">Pick Your Parent Class</option>
                <option *ngFor="let cls of parentClassOptions" value={{cls.id}}>
                    {{cls.name}}
                </option>
            </select>
        </div>
        <div class="form-group col-md-4 col-xs-12">
            <label class="control-label"><strong>Class Options:</strong></label>
            <select class="form-control" (change)="onParentClassPercentOfOptionChange($event.target.value)">
                <option value="0">Pick Your Class Option</option>
                <option *ngFor="let opt of parentClassPercentOfOptions" value={{opt.id}}>
                    {{opt.name}}
                </option>
            </select>
        </div>

        <div class="form-group col-md-4 col-xs-12">
            <label class="control-label"><strong>Pick An Amount:</strong></label>
            <select class="form-control" [(ngModel)]="fee.percentBasedOn" (change)="onPercentOfOptionChange($event.target.value)">
                <option value="0">Pick Your Base Figure</option>
                <option *ngFor="let pctOf of percentOfOptions" value={{pctOf.id}}>
                    {{pctOf.name}}
                </option>
            </select>
        </div>
    </div>

    <div class="row">

        <div class="form-group col-md-2" [hidden]="fee.realEstatePropertyID > 0">
            <label class="control-label"><strong>Template</strong></label>
            <div>
                <switch [status]="fee.isTemplate" onColor="green" onText="Yes" offText="No" (statusChange)="onTemplateFlagChange()" [disabled]="this.enableTemplateToggle == false"></switch>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label"><strong>Deductible</strong></label>
            <div>
                <switch [status]="fee.isDeductible" onColor="green" onText="Yes" offText="No" (statusChange)="onDeductibleFlagChange()"></switch>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="this.enableTemplateToggle == false">
        <div class="form-group col-md-4">
            <label class="control-label"><strong> Real Estate Prop Id : </strong></label>
            <input class="form-control" [(ngModel)]="fee.realEstatePropertyID" [disabled]="fee.realEstatePropertyID != undefined && fee.realEstatePropertyID > 0" />
        </div>

    </div>

    <div class="row margin-top-05">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="save()">
                <span class="glyphicon glyphicon-saved"></span> Save
            </button>
            <button class="btn btn-primary" (click)="list()">
                <span class="glyphicon glyphicon-list"></span> List
            </button>
        </div>
    </div>
</div>  