<div class="row margin-top-05">
    <h1>Property Details</h1>
</div>
<div class="margin-top-05">
    <div class="row margin-top-05">
        <div class="col-xs-2"><strong> Name : </strong></div>
        <div class="col-xs-6"><label>{{fee.name}}</label> </div>
    </div>
    <div class="row margin-top-05">
        <div class="col-xs-2"><strong> Amount : </strong></div>
        <div class="col-xs-6"><label>{{fee.amount}}</label> </div>
    </div>
    <div class="row margin-top-05">
        <div class="col-xs-2"><strong> Description : </strong></div>
        <div class="col-xs-6"><label>{{fee.description}}</label> </div>
    </div>
    <div class="row margin-top-05">
        <div class="col-xs-2"><strong> Fee Type : </strong></div>
        <div class="col-xs-6"><label>{{fee.feeTypeId}}</label> </div>
    </div>
    <div class="row margin-top-05">
        <div class="col-xs-2"><strong> Real Estate Prop ID : </strong></div>
        <div class="col-xs-6"><label>{{fee.realEstatePropertyId}}</label> </div>
    </div>
    <div class="row margin-top-05">
        <div class="col-xs-2"><strong> Is Template : </strong></div>
        <div class="col-xs-6"><input type="checkbox" [(ngModel)]="fee.isTemplate" disabled /></div>
    </div>
    <div class="row margin-top-05">
        <div class="col-xs-2"><strong> Is Deductible : </strong></div>
        <div class="col-xs-6"><input type="checkbox" [(ngModel)]="fee.isDeductible" disabled /></div>
    </div>

    <h3>Are you sure you want to delete this property?</h3>

    <div class="row margin-top-05">
        <div class="col-xs-12">
            <button class="btn btn-danger" (click)="onDelete(fee.id)">
                <span class="glyphicon glyphicon-saved"></span> Delete
            </button>
            <button class="btn btn-primary" (click)="list()">
                <span class="glyphicon glyphicon-list"></span> List
            </button>
        </div>
    </div>
</div>  