<h1>Fees</h1>

<p>This is all the fees in the system.</p>

<p *ngIf="!fees"><em>Loading Fees...</em></p>

<table class='table' *ngIf="fees">
    <thead>
        <tr>
            <td colspan="7">
                <button class="btn btn-success" [routerLink]="['/fee/edit/0']">
                    <span class="glyphicon glyphicon-plus-sign paddingRight"></span> Add
                </button>
                <input type="checkbox" (click)='onClick()' /> Show Templates
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Deductible</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fe of fees">
            <td>{{ fe.name }}</td>
            <td>{{ fe.description }}</td>
            <td>{{ fe.amount }}</td>
            <td>{{ fe.isDeductible }}</td>
            <td>
                <button class="btn btn-warning" [routerLink]="['/fee/edit/' + fe.id]">
                    <span class="glyphicon glyphicon-pencil paddingRight"></span> Edit
                </button>
                <button class="btn btn-danger" [routerLink]="['/fee/delete/' + fe.id]">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>