<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">GeekyMoney</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/scenarios']">
                        <span class='glyphicon glyphicon-equalizer'></span> Scenarios
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/realestateproperties']">
                        <span class='glyphicon glyphicon-home'></span> Properties
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/mortgages']">
                        <span class='glyphicon glyphicon-piggy-bank'></span> Mortgages
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fees']">
                        <span class='glyphicon glyphicon-usd'></span> Fees
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
