<h1>Real Estate Properties</h1>

<p>This is all the properties we're monitoring right now.</p>

<p *ngIf="!realEstateProperties"><em>Loading Properties...</em></p>

<table class='table' *ngIf="realEstateProperties">
    <thead>
        <tr>
            <th>Listed</th>
            <th>Purchase Price</th>
            <th>Market Value</th>
            <th>Square Feet</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let realProp of realEstateProperties">
            <td>{{ realProp.listingDate }}</td>
            <td>{{ realProp.purchasePrice }}</td>
            <td>{{ realProp.marketValue }}</td>
            <td>{{ realProp.squareFeet }}</td>
        </tr>
    </tbody>
</table>