<h1>Geeky Investments</h1>
<p>Welcome to Geeky Investments.  The purpose of this site is to automate the process of 
    property invevestment using known points of interest (KPIs), human intution, and 
    a dash of machine learning.  Browse the portfolio to see different investment scenarios 
    and drill down into properties and mortgaes for more detail.</p>
<ul>
    <li>Coming</li>
    <li>Soon</li>
</ul>
<p>To help you get started, we've also set up a library:</p>
<ul>
    <li><strong>Cool Link</strong>. For example, click </li>
</ul>
